body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
td,
input,
select,
option,
textarea,
li {
  margin: 0;
  padding: 0;
}

/*body::-webkit-scrollbar{
	display: none;
}*/
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body,html{
  width: 100%;
  height:100%;
}
i{
  display: inline-block;
}
.header{
  width:100%;
  height:70px;
  position:fixed;
  top:0;
  left:0;
  z-index:9999999;
  background: white;
  box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06)
}
.header-left{
  width:263px;
  padding-left:10px;
  height:70px;
  background:#1c2324;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
  img{
    vertical-align: middle;
    padding:19px 0;
  }
}
.changelog{
  display:none;
  width:70px;
  height:70px;
  box-sizing:border-box;
  padding-left:16px;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
  background:#1c2324;
}
.header-right{
  padding-left:285px;
  height:70px;
  .header-right-leftside{
    padding-top:5px;
  }
  .menu {
   float:left;
    cursor: pointer;
    i {
      padding:23px 0;
      margin-right: 20px;
      color:#53505f;
      font-style:normal;
      display:inline-block;
      font-size:25px;
      vertical-align: middle;
    }
  }
 #changserinp{
  float:left;
   margin-top:23px;
   display:none;

   i{
     vertical-align: middle;
     font-size:22px;
   }
 }
  .search{
    float:left;
    border:1px solid #c9c9c9;
    padding-left:15px;
    border-radius: 25px;
    margin-top:9px;
    display:block;
    input{
      display: inline-block;
      margin: 13px 0 13px 0px;
      outline:none;
      border:none;
      background: transparent;
      width:228px;
      font-size:12px;
      font-weight:700;
      line-height:12px;
      color:#6c759d;
    }
    .searbtn{
      outline:none;
      background: #747d84;
      border:none;
      padding:13px 22px 13px 22px;
      border-radius: 0px 25px 25px 0px;
      i{
        color:white;
        font-size:16px;
        line-height: 16px;
      }
    }
  }
.header-right-leftside{
float:left;
}
  .header-right-rightside{
    float:right;
    ul{
      li{
        float:left;
        padding:20px 40px 20px 0;
        height:32px;
        position:relative;
        img{
          vertical-align: middle;
        }
        .jt{
          width:0;
          height:0;
          border:4px solid transparent;
          border-top-color:black;
          padding-right:6px;
          display: inline-block;
        }

      }
      li{
        .fa-bell-o{
          font-size:18px;
        }
        .infoa{
          position:relative;
        }
        .fa{
          color:#53505f;
        }
        .infonum{
          display: inline-block;
          background: #c46210;
          color:white;
          padding:0 5px;
          height:18px;
          border-radius: 50%;
          color:white;
          font-size:8px;
          line-height: 18px;
          position:absolute;
          top:0px;
          right:-14px;
        }
        .messagea{
          position: relative;
        }
        .userinfoa{
          img{
            width:32px;
            height:32px;
            border-radius:50%;
            margin-top:-5px;
          }
          .userna{
            color:#535b6c;
            font-size:12px;
          }
        }
      }
      .secondli{
        position:relative;
        .language{
          opacity:0;
          position:absolute;
          width:200px;
          right: 50px;
          top: 150px;
          padding:16px 0px 16px 20px;
          box-sizing: border-box;
          background: white;
          p{
            margin-bottom:26px;
          }
          p:nth-last-of-type{
            margin-bottom: 0;
          }
          i{
            width:0;
            height:0;
            border:11px solid transparent;
            border-bottom-color: #eff0f4;
            position:absolute;
            right:0;
            top:-21px;
          }
        }
      }
    }

    .messageinfo::-webkit-scrollbar {
      width: 6px;
    }
.messageinfo::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px  rgba(40, 42, 44, 1);
      border-radius: 10px;
    }


.messageinfo::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(40, 42, 44, 1);

    }

    .section-left::-webkit-scrollbar {
      width: 6px;
    }
    .section-left::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px  rgba(40, 42, 44, 1);
      border-radius: 10px;
    }
    .section-left::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(40, 42, 44, 1);

    }

    .messageinfo{
      opacity: 0;
      display:none;
      width:444px;
      height:300px;
      overflow-x: hidden;
      overflow-y: auto;
      box-sizing: border-box;
      box-shadow: 0 0 5px 3px #ccc;
      position:absolute;
      right: 38px;
      top: 58px;
      background: white;
      ul{
       width:100%;

        li{
          padding:18px;
          font-size:14px;
          a{
            width:406px;
            display: block;
            overflow: hidden;
            i{
              width:45px;
              height:45px;
              text-align: center;
              border-radius: 50%;
              float:left;
              background:#e91e63;
              padding-top:17px;
              box-sizing: border-box;
              color:white;
              font-weight:700;
            }

          }

          .type{
            line-height: 31px;
            color:#616162;
            float:left;
          }
          .count{
            background:#673ab7;
            padding:10px 12px;
            line-height:12px;
            color:white;
            float:right;
            border-radius: 14px;
          }
        }
        .example{
          padding-top:10px;
          padding-bottom:10px;
          i{
            float:left;
            margin-right:20px;
          }
          .fa-user-o {
            background:#673ab7;
          }
          .fa-comments-o{
            background:#2196f3;
          }
          .fa-heart{
            background:#ff1493;
          }
          .fa-warning{
            background:#f1c500;
          }
          .fa-times{
            background: #ee8b15;
          }
          .contitle{
          line-height:48px;
          }
          .time{
            background: #f5f5f5;
            color:#b4b4b4;
            line-height:12px;
            padding:8px;
            border-radius: 0;
            margin-top:10px;
          }
        }
        li:first-of-type{
          overflow: hidden;
          background: #eff0f4;
        }
      }
    }
    .descmess{
      .meaasgestwo{
        opacity:0;
        display:none;
          img{
            width:45px;
            height:45px;
            border-radius: 50%;
            float:left;
            margin-right:6px;
          }
        li{
        }
        .contitle{
          p:first-of-type {
            margin-top:5px;
          }
          p{
            line-height:14px;
            b{
              color:#36a2f5;
            }
          }

        }
      }
    }
    .userdesc{
      position:relative;
      .usersta{
        opacity: 0;
        display:none;
        position:absolute;
        right: 30px;
        width:200px;
        top: 56px;
        padding:16px 0px 16px 10px;
        box-sizing: border-box;
        background: white;
        box-shadow: 0px 3px 4px #ccc;
        i{
          display: inline-block;
          color:#8d8d8d;
        }
         p{
            height:32px;
            padding:3px;
            a{
              padding:3px;
              color:#8d8d8d;
            }
        }
      }

    }
  }
}

section{
  width:100%;
  height:100%;
  display: flex;
  #changeleft{
    display:none;
    width:70px;
    height:100%;
    .ulstwo{
      background: #1c2324!important;
    }
    ul{
      li{
        position:relative;
        text-align: center;
        &:hover{
          background: #1c2324!important;
        }
        a{
          i{
            font-size:22px;
            line-height:22px;
          }
        }
        ul{
          //display: none;
          position:absolute;
          top: -3px;
          right: -265px;
          width:265px;
          background: #1c2324!important;
          box-sizing: border-box;
          padding:0;
          a{
            text-align: left;
            padding-left:16px;
          }
        }
      }
    }
  }


  .section-left{
    width:273px;
    background: #1c2324;
    height:100%;
    overflow-y: auto;
    //overflow-x: hidden;
   justify-content: flex-start;
    .line1{
      text-align: center;
      padding:100px 10px 30px 10px;
      a:first-child{
        display:inline-block;
        img{
          border: 2px solid white;
          border-radius: 50%;
          width:80px;
          height:80px;
        }
      }
      .othercall{
        color:white;
        font-size:16px;
        line-height: 16px;
        margin-top:18px;
        margin-bottom:15px;
      }
      .status{
        color:#235dab;
        font-size:16px;
        i{
          color:#22af47;
          margin-right:2px;
        }
      }
    }
    .changemenu{
      display:block;
    }
    .guidemenu{
      ul{
        height:100%;
        background: #1c2324;
        font-size:18px;
        line-height:18px;
        li{
          &:hover{
            background: #232929;
          }
          a{
            width:100%;
            padding:17px 29px  17px 27px;
            display: inline-block;
            color:#999;
            position: relative;
            border-bottom:1px solid #303132;
            box-sizing:border-box;
            i{
              font-size:14px;
              line-height:14px;
              vertical-align: middle;
              margin-right:10px;
            }
            .ajt{
              width:0;
              height:0;
              border:6px solid transparent;
              border-top-color:#999999;
              position:absolute;
              right:29px;
              top:25px;
            }
          }
          ul{
            display:none;
            li{
              border:none;
              padding-left:26px;
              a{
                border:none;
                white-space: nowrap;
                &:hover{
                  color:white;
                  transition:all 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }
  .section-right{
    //float:right;
    font-size:16px;
    justify-content: flex-start;
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    background:#eaeef3;
    box-sizing: border-box;
    padding:120px 15px 0 15px;
    .subtitle{
      display:flex;
      justify-content: space-between;
      color:#53505f;
      margin-bottom:30px;
      h3{
        display:inline-block;
        line-height: 22px;
        font-size:22px;
      }
      p{
        display:inline-block;
        a{
          color:#8888a1;
        }
        i{
          padding:0 7px;
        }
      }
    }
    .tongji{
     overflow: hidden;
      .usernew{
        width:23.9%;
        background: #2ed8b6;
        padding:28px 19px;
        float:left;
        box-sizing: border-box;
        margin-left:0.8%;
        .usernewico{
          width:24.5%;
          display:block;
          max-width:65px;
          height:65px;
          background:#25ad92;
          text-align: center;
          border-radius: 50%;
          float:left;
          margin:17px 0;
          box-sizing: border-box;
          i{
            margin-top:12px;
            color:white;
            font-size:30px;
          }
        }
        .conninfo{
         width:75.5%;
         float:right;
          color:white;
          h2{
            line-height: 18px;
            font-weight: 500;
          }
          h4{
            line-height: 18px;
            margin:21px 0 17px 0;
            font-weight: 500;
          }
          .progress{
            background:#25ad92;
            margin-bottom:18px;
            width:100%;
            .progress-bar{
              width:45%;
              height:4px;
              background:white;
            }
          }
          .progress-desc{
            display:inline-block;
            width:93%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
          }
        }
      }
    }
    .side2{
      margin-top:30px;
      display:flex;
      justify-content: space-around;

      .side2-left{
        width:48%;
        //max-height:384px;
        height:390px;
        background: white;
        text-align: center;
        color:#686868;
        h4{
         text-align: left;
          font-size:20px;
          line-height: 20px;
          padding:25px;
          border-bottom:1px dashed #cccccc;
        }

      }

      #chartone, #charttwo{
        width:100%;
        height:265px;
        padding-top:22px;
        max-width:100%;
        max-height:265px;
      }
    }
    .side3{
      margin-top:30px;
      display:flex;
      justify-content: space-around;
      h4{
        font-size:20px;
        line-height: 20px;
        padding:25px;
        border-bottom:1px dashed #cccccc;
      }
      .side3-left{
        width:31%;
        max-height:450px;
        padding-bottom: 20px;
        background: white;
        .dataSales{
          .data1:last-of-type{
            padding-bottom:15px;
          }
          .data1{
            padding:15px 25px 0 25px;
            color:#1688ec;
            .line1{
              display:flex;
              justify-content: space-between;
              .countsal{
                font-size:20px;
              }
              .onesal{
                color:#53505f;
              }
              .onepre{
                background:#294583;
              }
            }
            span{
              display:block;
              color:white;
              padding:8px 6px;
              background: #3c64bb;
            }
            p{
              background:#f1f1f1;
              color:#788faf;
              line-height:24px;
              text-indent: 14px;
            }
          }
        }
      }
      .side3-center{
        width:31%;
        max-height:450px;
        background: white;
        padding-bottom: 20px;
        .acttime{
          padding:22px 0px 22px 22px;
          color:white;
          background:#5c9df5;
          overflow: hidden;
          .actnum{
            float:left;
            font-size:20px;
            margin-right:12px;
          }
          .timedesc{
            float:left;
            p{
              background:red;
              padding:4px 12px;
              font-size:12px;
              line-height:12px;
              border-radius: 4px;
              width:48px;
            }
          }
        }
        .activitycon{
          padding:27px 39px 0px 21px;
          .con1{
            .con-top{
              padding-left:11px;
              font-size:16px;
              line-height: 16px;
              padding-bottom:15px;
              margin-top:10px;
            }
            .con-bottom{
              padding-left:14px;
              font-size:16px;
              line-height: 16px;
              display:flex;
              justify-content: space-between;
              span:first-of-type {
              }
              span{
                padding-top:6px;
                i{
                  padding-left:10px;
                }
              }
            }
          }
        }
      }
      .side3-right{
        width:31%;
        max-height:450px;
        background: white;
        padding-bottom: 20px;
        .table{
          padding-top:5px;
          .tableone:last-of-type{
            border:none;
          }
          .tableone{
            padding:19px 0 0 25px;
            border-bottom:1px solid #dde1eb;
            p{
              padding-bottom:9px;
            }
            .kn{
              color:#8c92a3;
              .bb{
                background:#8c92a3;
                padding:4px 4px;
                color:white;
                font-weight: 700;
                margin-left:3px;
                border-radius: 3px;
                font-size:12px;
                line-height:12px;
              }
            }
            ul{
              overflow: hidden;
              li{
                float:left;
               margin-right:8px;
                img{
                  width:40px;
                  height:40px;
                  border-radius: 50%;
                }
              }
            }

          }
        }
      }

    }
    .side4{
      margin:30px auto 0;
      width:97.5%;
      background:white;

      h3{
        padding:22px 0 22px 22px;
        font-size:20px;
        line-height: 20px;
        border-bottom:1px dashed #cccccc;
      }
      ul{
        width:100%;
        padding:10px 0px 10px 25px;
        text-align: left;
        box-sizing: border-box;
        li:first-of-type{
          border:none;
          span{
            font-weight: 700;
            color:#53505f;
            font-size:18px;
          }
        }
        li{
             //width:100%;
             display:block;
              padding:18px 0 18px 11px;
              border-top:1px solid #e5e9ec;
              font-size:18px;
              span:first-of-type, .usmoney{
                font-weight: 700;
                color:#53505f;
              }
             span{
               display:inline-block;
               width:19.5%;
             }
          .tags{
            display: inline-block;
            font-size:12px;
            line-height: 12px;
            width:47px;
            text-align:center;
            padding:5px 0px;
            background: #ffbf36;
            border-radius: 9px;
            }
           }
        li:nth-of-type(2) .tags{
          background: #ffbf36;
        }
        li:nth-of-type(3) .tags{
          background: #f83f37;
        }
        li:last-of-type .tags,li:nth-of-type(4) .tags{
          background: #777777;
        }
        .showdata{
          color:#22af47;
          .precents{
            color:#22af47;
            white-space: nowrap;
          }
          i{
            display:inline-block;
            padding-right:12px;
          }
        }
      }
    }
    .side5{
      margin:30px 0.5% 30px 0.5%;
      width:99%;
      .sidefiveone{
        width: 24%;
        float: left;
        margin-left: 0.8%;
        margin-bottom:30px;
        P{
         width:100%;
          background:#3b5998;
          padding:36px 0;
          text-align: center;
          i{
            font-size:40px;
            color:white;
          }
        }
        .botside{
          padding-top:16px;
          padding-bottom:20px;
          color:#949ca0;
          background:white;
          i{
            font-style:normal;
            padding-right:6px;
          }
          span{
            width:45%;
            display:inline-block;
          }
          span:first-of-type{
            text-align: right;
            padding-right:10px;
            border-right:1px solid #d7e0e4;
          }
          span:last-of-type{
            padding-left:10px;
          }
          strong{
            display:block;
            padding:13px 0 13px 0;
          }
        }
      }
    }
  }

}
.footer{
  width:100%;
  padding:25px 0;
  background: #1c2324;
  text-align: center;
  color:white;

}
@media screen and (min-width: 1000px)  {
  .header-right  {
    padding-left:285px;
  }

}
@media screen and (min-width: 1490px)  {
  section .section-right .tongji {
    .usernew{
      width:23.9%;
    }
  }

  }

@media screen and (max-width: 1490px) and(min-width: 1005px)  {
  section .section-right .tongji {
    .usernew{
      width:48.5%;
      margin-bottom:30px;
    }
  }

}

@media screen and (max-width: 1290px)  {
  section .section-right .side2{
    flex-direction: column;
    .side2-left{
      width:100%;
      margin-bottom: 30px;
    }
    .side4{
      width:100%!important;
    }
  }
  section .section-right .side3{
    flex-direction: column;
    .side3-left,.side3-center,.side3-right{
      width:100%;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 1240px)  {
  section .section-right .side5 .sidefiveone{
    width:48%;
  }
  .header-right .search{
    display:none!important;
  }
  .header-right #changserinp{
    display:block;
  }
  .userinfoa{
    .userna,i{
      display:none;
    }
  }
}
@media screen and (max-width: 1003px)  {
  section .section-right .side5 .sidefiveone{
    width:100%;
  }
  .side4{
    width:100%!important;
  }
}
@media screen and (max-width:1005px) {
  section .section-right .tongji {
    .usernew{
      width:100%;
      margin-bottom:30px;
    }
  }

}
@media screen and (max-width:1000px){
  .header-left{
    background: none;
    left: 40%!important;
  }
  .changelog,.changeleft{
    display:none;
  }
  .header-right{

    padding-left: 0!important;
  }
  .header{
   background: #1c2324;
    color:white;
    a,i{
      color:white!important;

    }
    .jt{
      border-top-color:white!important;
    }
    .changesize,.secondli,.messageside{
      display:none;
    }

  }
}
